.auctex-auto/pythonQuant.el
.auctex-auto/pythonQuant.el
Learning-Sympy/.vscode
Report/texfrag
Problems/Chaos/Fractals/Julia-Mandelbrot/0
Problems/Chaos/mandelbrot-400mpx.fits
**/.DS_Store
**/.auctex-auto
**/texfrag
**/_minted*
**/_region_*
**/*.log
**/livepreview/*
**/livepreview
Outline/reveal.js
Outline/large-gnuplot-mandelbrot.svg
Problems/.vscode
Outline/svg-inkscape
Problems/Chaos/Spirals/out.mkv
Problems/Chaos/Spirals/out.mov
Problems/Chaos/Spirals/luxor-drawing*
Problems/Chaos/Spirals/2400_frames_at_60_FPS_1_percent.mov
Problems/Chaos/Spirals/out_60.mov
Problems/Chaos/Spirals/snowCurve.svg
Problems/Chaos/Spirals/snowCurve.svg
Report/.syncthing.Report.log.tmp
Report/Presentation/media/julia_animation.mkv
Report/Presentation/media/julia_sets.gif
Report/Presentation/media/sierpinsky_triangle_chaos.gif
resources/style.sync-conflict-20201020-140114-ODHSVZB.sty
